body {
  margin: 0%;
  padding: 0%;
  background: #36393f;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: grid;
}

a {
  text-decoration: none;
  color: #766ac8;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.formContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  margin: auto;
  margin-bottom: 20px;
}

.formContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
  margin: auto;
}

.formContainer button:hover {
background: #2e7d32;
}

.rooms_profile .rooms-container {
  width: 100%;
  height: 95%;
  overflow-x: hidden;
}

.rooms_profile .rooms-container::-webkit-scrollbar {
  display: none;
}

.rooms_profile{
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #212121;
  border-radius: 5px;
}

.room_action_modal {
  padding: 20px 15px 10px 15px;
  display: flex;
  gap: 0.7rem;
  justify-content: space-evenly;
}

.room_action_modal button{
  background-color: #5865f2;
  border: none;
  cursor: pointer;
  color: #fff;
  width: 125px;
  padding: 9px 22px 9px 22px;
}

.room_action_modal button:hover {
  opacity: 0.55;
  transition: all 0.3s ease-out;
} 

#room_action_icon {
  margin: 0 auto;
  width: 300px;
  font-size: 50px;
  background-color: rgba(141, 129, 222, 0.308);
}

.rooms_action_container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.rooms_action {
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.room_profile {
  background-color: #212121;
  padding: 10px;
  cursor: pointer;
}

.room_profile:hover {
  background: #333233;
  transition: all 0.3s ease-out;
}

.room_profile:target {
  background-color: #766ac8;
}

/* .room_profile:focus-within {
  background-color: #766ac8;
} */

.room_name {
  text-decoration: none;
  color: white;
  font-weight: 100%;
}

.room_profile img {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.room_profile img:hover {
  border-radius: 13px;
}

.room_profile-content {
  display: flex;
}

.room_profile-content p {
  padding: 0;
  margin: auto 0;
  padding-left: 15px;
}

.room-action-buttons {
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
}

.lobby {
  margin: 25px 25px 0px 25px;
  display: grid;
  grid-template-columns: 1.4fr 5fr 0.9fr;
  gap: 1rem;
}

.lobby_members_off {
  margin: 25px 25px 0px 25px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.action-button {
  margin-top: 10px;
  background-color: #766ac8;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.success {
  color: green;
  opacity: 0.8;
}

.err {
  color: red;
  opacity: 0.6;
}

.search_bar {
  margin-right: 1em;
}

.search_inputs {
  display: flex;
}

.search_inputs input {
  background-color: #202225;
  outline: 0;
  border: 0;
}

.search_bar input{
  padding: 3px;
  color: rgb(206, 204, 204);
}

.search_icon, .delete_icon {
  background-color: #202225;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon_search, .icon_delete {
  height: 20%;
  color: rgb(192, 192, 192);
}

.user_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 585px;
  padding: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
}

.user_container:hover {
  background-color: #7f828529;
  transition: all 0.33s ease-in-out;
  cursor: pointer;
}

.user_container p {
  font-size: 12px;
  font-weight: 600;
}

.room_header_actions {
  display: flex;
}

.room_header_actions .members_icon {
  margin-right: 10px;
  cursor: pointer;
}

.room_member_info {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.room_member_info img{
  width: 29px;
  height: 29px;
  border-radius: 69px;
  border: 3px solid black;
}

.room_member_image {
  width: 29px;
  height: 29px;
  border-radius: 10px;
}

.overlay {
  background-color:rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.modal_container {
  background-color: #36393f;
}

.modal_container input {
  width: 100%;
}

input {
  padding-left: 8px;
}

.rooms_action_container {
  cursor: pointer;
}

@media (max-width: 800px) {
  .lobby {
    grid-template-columns: 1fr;
    margin: 0px;
  }

  .lobby_members_off {
    grid-template-columns: 1fr;
    margin: 0px;
  }

  .rooms_profile {
    width: 100%;
  }

  .mobile_send_btn_container {
    display: flex !important;
  }

  .lobby_rooms_section {
    width: 100% !important;
  }
}

@media (max-width: 900px) {
  p {
    font-size: 11px;
  }
}