body {
  background: #36393f;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  display: grid;
}

a {
  text-decoration: none;
  color: #766ac8;
}

body {
  margin: 0%;
  padding: 0%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.formContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  margin: auto;
  margin-bottom: 20px;
}

.formContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
  margin: auto;
}

.formContainer button:hover {
background: #2e7d32;
}

.chat-window {
  width: 100%;
  min-height: 550px;
}

.chat-window p {
  margin: 0;
  padding: 2.2px;
}

.chat_header {
  height: 45px;
  border-radius: 6px;
  background: #4a545a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat_header p {
  margin: 0;
  display: block;
  padding: 0 1em 0 1em;
  color: #fff;
  font-weight: 800;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(608px - (45px + 70px));
  border: 1px solid #263238;
  background: #36393f;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 8px;
  padding-left: 8px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.you {
  justify-content: flex-start;
}

.you .message-content {
  justify-content: flex-start;
}

.you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

.other {
  justify-content: flex-end;
}

.other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue !important;
}

.other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}

.message_input {
  background: #40444b;
  color: #fff;
}

::placeholder {
  color: #9b9c9c;
}

.hide {
  opacity: 0 !important;
}

.rooms-layout {
  height: 110%;
}

.rooms-profile .rooms-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.rooms-profile .rooms-container::-webkit-scrollbar {
  display: none;
}

.rooms-profile{
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
}

.room-profile {
  background-color: #212121;
  padding: 10px;
  cursor: pointer;
}

.room-profile:hover {
  background: #333233;
  transition: all 0.3s ease-out;
}

.room-profile:focus-within {
  background-color: #766ac8;
}

.room_name {
  text-decoration: none;
  color: white;
  font-weight: 100%;
}

.room-profile img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.room-profile-content {
  display: flex;
}

.room-profile-content p {
  padding: 0;
  margin: auto 0;
  padding-left: 15px;
}

.room-action-buttons {
  display: flex;
  gap: 0.3rem;
  justify-content: space-between;
}

.lobby {
  margin: 25px 25px 0px 25px;
  display: grid;
  grid-template-columns: 1.4fr 4fr 0.9fr;
  gap: 1rem;
}

.lobby_members_off {
  margin: 25px 25px 0px 25px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.action-button {
  margin-top: 10px;
  background-color: #766ac8;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.err {
  color: red;
  opacity: 0.7;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.chat_info {
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 800px) {
  .lobby {
    grid-template-columns: repeat(1, 2fr);
    margin: 0px;
  }

  .rooms-profile {
    width: 100%;
  }
}

@media (max-width: 900px) {
  p {
    font-size: 13px;
  }
}

.search_bar {
  margin-right: 1em;
}

.search_inputs {
  display: flex;
}

.search_inputs input {
  background-color: #202225;
  outline: 0;
  border: 0;
}

.search_bar input{
  padding: 3px;
  color: rgb(206, 204, 204);
}

.search_icon, .delete_icon {
  background-color: #202225;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.icon_search, .icon_delete {
  height: 20%;
  color: rgb(192, 192, 192);
}

.filtered_result {
  margin-right: 10px;
  margin-top: 11px;
  width: 170px;
  height: 200px;
  overflow: hidden;
  overflow-y: auto;
  background: #222;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

.searched_message_container:hover {
  background-color: #7f828529;
  transition: all 0.33s ease-in-out;
  cursor: pointer;
}

.searched_message_container {
  border-bottom: 1px rgba(245, 245, 245, 0.107) solid;
}

.filtered_result p {
  font-size: 12.5px;
  font-weight: 550;
  line-height: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-wrap: break-word;
}

.filtered_result span {
  font-weight: 700;
  font-size: 15px;
  color: #7f75c1a9;
}

.online_users{
  width: 100%;
  height: 580px;
  background: #222;
  border-radius: 5px;
  
}

.users_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 585px;
  padding: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.users_container:hover {
  background-color: #7f828529;
  transition: all 0.33s ease-in-out;
  cursor: pointer;
}

.online_users_container {
  height: 535px;
}

.online_users_container .members_container{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.online_users_container .members_container::-webkit-scrollbar {
  display: none;
}

.online {
  border-radius: 22px;
  width: 10px;
  height: 10px;
  background-color: #18a11f;
}

.offline {
  border-radius: 22px;
  width: 10px;
  height: 10px;
  background-color: rgb(189, 3, 3);
}

.room_header_actions {
  display: flex;
}

.members_icon {
  margin-right: 10px;
  cursor: pointer;
}

.room_member_info {
  display: flex;
  align-items: center;
}

.room_member_info img{
  margin-right: 9px;
}

.room_member_image {
  width: 29px;
  height: 29px;
  border-radius: 10px;
}